.listagem{
    padding-bottom: 20px;
}
.listagem table, .listagem th, .listagem td{ 
    border: 1px solid goldenrod;
    border-collapse: collapse;
    box-shadow: inset 0 0 3px 1px goldenrod;
    padding: 5px;
}

.tabela-livros{
    color: black;
    width: 90%;
}
.botao-td{
    
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;

}

.botao-td:hover{
    background-color: white;
    color: goldenrod;
    transition: 0.1s;
    box-shadow: inset 0 0 5px 3px goldenrod;
}